﻿@model List<Todo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDo</h1>

    <form metod="post" asp-action="AddTodo">
        <input type="text" name="Text" />
        <button type="submit">Add todo</button>
    </form>

    @foreach(var todo in Model)
    {
        @todo.Text
    }

</div>
